$mobile-size: 375px;
$desktop-size: 1440px;

$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
$slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);

$font-size: 15px;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
$font-family-primary: "Inter", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
$font-family-secondary: "Lexend Deca", sans-serif;

@mixin flex($direction: row, $justify-content: center) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
  flex-direction: $direction;
}
